@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-light-blue text-center">
    <h1 class="display-4 animate__animated animate__bounceInDown">Welcome to Fantasy and Sci-Fi Hub</h1>
    <p class="lead">Explore Your Favorite Worlds</p>
</div>

<div class="container">
<div class="row">
    <div class="col-md-6 animate__animated animate__zoomIn">
        <div class="card mb-4 shadow-lg">
            <img src="~/image3.jpg" alt="Fantasy Image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Favorite Fantasy Books</h5>
                <p class="card-text">Discover the magic and wonder of fantasy literature.</p>
                <a href="~/Books" class="btn btn-primary btn-lg btn-block">Explore</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 animate__animated animate__zoomIn">
        <div class="card mb-4 shadow-lg">
            <img src="~/image4.jpg" alt="Science Fiction Image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Favorite Science Fiction Movies</h5>
                <p class="card-text">Embark on thrilling journeys through the realm of science fiction.</p>
                <a href="~/Movies" class="btn btn-primary btn-lg btn-block">Discover</a>
            </div>
        </div>
    </div>
</div>
</div>
